allow untrusted_app_30 cache_file:lnk_file { read };
allow untrusted_app_30 mnt_vendor_file:dir { search };
allow untrusted_app zygote:unix_stream_socket { getopt };
